.nav {
    height: 50px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 12px;

    @media (min-width: 640px) {
        justify-content: start;
        padding-left: 30px;
    }
}

.home,
.stats {
    font-size: 12px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    width: 92px; /* includes before pseudoelement (70px + 22px) */

    &::before {
        margin-right: 10px;
        display: inline-block;
        /* width is 16px in designs but my icons are square */
        width: 12px;
        height: 12px;
    }

    &:hover {
        text-decoration: underline;
    }
}

.active {
    color: #3c74ff;
}

/* When using svgs in the before pseudoelement I can't change the fill
color, so I've swapped the svg here. I'd potentially rethink this approach
doing the task again */
.home::before {
    content: url(./icons/home.svg);
}

.home.active::before {
    content: url(./icons/home-active.svg);
}

.stats::before {
    content: url(./icons/stats.svg);
}

.stats.active::before {
    content: url(./icons/stats-active.svg);
}
