.tooltip {
    background-color: #3c74ff;
    color: #ffffff;
    line-height: 13px;
    font-size: 12px;
    display: inline-block;
    padding: 8px 16px;
    text-align: center;
    margin-left: -50%;
    position: relative;
    top: -50px;

    &::after {
        position: absolute;
        height: 0;
        width: 0;
        top: 100%;
        left: calc(50% - 8px);
        border: solid transparent;
        content: '';
        pointer-events: none;
        border-top-color: #3c74ff;
        border-width: 8px;
    }
}

.date {
    opacity: 0.5;
}

.count {
    font-weight: bold;
}
