.profile {
    background-color: #ffffff;
    margin: 15px;

    @media (min-width: 640px) {
        width: 240px;
        flex-shrink: 0;
        margin-right: 0;
    }
}

.banner {
    height: 120px;
    background: no-repeat center center;
    background-color: #306aff;
    background-size: cover;
}

.details {
    padding: 15px;
}

.personal {
    display: flex;
    margin-bottom: -28px;
}

.avatar {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
    position: relative;
    border-radius: 50%;
    border: #ffffff solid 2px;
    top: -42px;
}

.names {
    margin-left: 16px;
    overflow: hidden;

    & > h1 {
        font-weight: bold;
        font-size: 16px;
        line-height: 19px;
        padding: 0 0 4px 0;
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    & > h2 {
        color: #000000;
        opacity: 0.66;
        font-size: 12px;
        line-height: 14px;
        padding: 0;
        margin: 0;
        font-weight: normal;
    }
}

.stats {
    display: flex;
    position: relative;
    justify-content: space-between;
    margin-top: 32px;
    width: 80%;

    @media (min-width: 640px) {
        width: 100%;
    }
}
