.graph {
    background-color: #ffffff;
    margin: 12px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.16);
    height: 286px;
}

.infobar {
    display: flex;
    padding: 30px;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;

    & > h1 {
        font-weight: bold;
        font-size: 16px;
        line-height: normal;
        padding: 0;
        margin: 0;
    }

    & > span {
        color: #737373;
    }
}

.loading {
    padding: 48px 0 96px;
    font-size: 24px;
    text-align: center;
    color: #757575;
    animation: fadeInOut 1s infinite;
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
}
